.firstComponent {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.firstComponent__container {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.firstComponent__sidebar {
  flex: 0.22;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  padding-top: 30px;
  background-color: rgb(97, 86, 252);
  color: white;
}

.firstComponent__sidebarDropdown {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.firstComponent__sidebarDropdown > h5 {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
}

.firstComponent__sidebarDropdown > .MuiSvgIcon-root {
  font-size: 30px !important;
  margin-left: -20px;
}

.firstComponent__sidebarTick {
  display: flex;
  align-items: center;
}

.firstComponent__sidebarTick > h5 {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
}

.firstComponent__sidebarTick > .MuiSvgIcon-root {
  font-size: 30px !important;
  margin-left: -20px;
}

.firstComponent__sidebarContainer {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(124, 126, 238);
  padding: 0 10px;
  height: 50px;
  margin-left: -10px;
}

.firstComponent__sidebarContainer > h5 {
  width: 85%;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
}

.firstComponent__sidebarContainer > p {
  margin-left: 0px;
  font-size: 12px;
}

.firstComponent__option > h5 {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
}

.firstComponent__body {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-left: 80px;
  margin-top: 80px;
}

.firstComponent__bodyLeft {
  flex: 0.65;
}

.firstComponent__bodyLeft > h4 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.firstComponent__bodyLeft > h2 {
  font-size: 38px;
  font-weight: 500 !important;
  line-height: 1.5;
  margin: 0;
  margin-top: 4px;
  color: #222;
  letter-spacing: -1px;
}

.firstComponent__bodyLeft > p {
  font-size: 19px;
  line-height: 1.3;
  color: grey;
  margin: 0;
}

.firstComponent__bodyRight {
  flex: 0.3;
}

.firstComponent__bodyRight > h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(23, 167, 250);
  margin-top: -5px;
  margin-left: 80px;
}

.firstComponent__bodyLeftLink > p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  color: #444;
}

.firstComponent__bodyLeftLink > p > a {
  color: rgb(31, 118, 248);
}

.firstComponent__bodySubmit {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -70px;
  right: 150px;
}

.firstComponent__bodySubmit > p {
  font-size: 16px;
  margin-right: 20px;
  color: #555;
}

.firstComponent__bodyGoback {
  margin-right: 20px;
  border: none;
  font-size: 17px;
  background-color: transparent;
}

.firstComponent__bodyGoback:hover {
  cursor: pointer;
}

.firstComponent__bodyNext {
  height: 40px;
  width: 120px;
  background-color: rgb(112, 112, 252);
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

.firstComponent__bodyNext:hover {
  cursor: pointer;
}
